@charset "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: serif;
	font-size: 100%;
}

body{
	background: #84889c;
}

.centriran_div{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_za_registraciju{
	background: #545871;
	padding: 25px;
	border-radius: 5px;
	width: 400px;
}

.div_za_registraciju .div_za_naslov{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #ebd0ce;
	letter-spacing: 5px;
	font-weight: 700;
}

.formin_div{
	margin-top: 35px;
}

.formin_div .div_input{
	margin-bottom: 15px;
}

.formin_div .div_input:last-child{
	margin-bottom: 0;
}

.formin_div .div_input label{
	display: block;
	margin-bottom: 3px;
	color: #9597a6;
}



.formin_div  input[type="text"]{
	width: 100%;
	border-radius: 3px;
	border: 1px solid #9597a6;
	padding: 10px;
	outline: none;
}

.formin_div  input[type="text"]:focus{
	border-color: #ebd0ce;
}



.formin_div  input[type="password"]{
	width: 100%;
	border-radius: 3px;
	border: 1px solid #9597a6;
	padding: 10px;
	outline: none;
}

.formin_div  input[type="password"]:focus{
	border-color: #ebd0ce;
}




.formin_div .submit_dugme{
	width: 70%;
	background: #ebd0ce;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	
	margin-left: 47px;
}

.formin_div .submit_dugme:hover{
	background: #ffd5d2;
}


.dugme_za_nazad{
	width: 70%;
	background: #ebd0ce;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	color: black;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	margin-left: 47px;
	letter-spacing: 3px;
	cursor: pointer;
	text-align: center;
     
}


.dugme_za_nazad:hover{
	background: #ffd5d2;
}