/* modal sve okolo forme */
.modal {
    display: none; 			/* sakriveno od pocetka */
    position: fixed; 		/* fiksirano u mestu */
    z-index: 1; 			/* stoji na vrhu */
    left: 0;
    top: 0;
    width: 100%; 			/* puna sirina */
    height: 100%; 			/* puna visina */
    overflow: auto; 		/* ima skrol bar ako je potrebno */
    background-color: rgb(0,0,0); 		/*  pozadina */
    background-color: rgba(0,0,0,0.4); 	/* prozirnost */
  }
  
  /* forma */
  .modal-content {
    background-color: #ffd5d2;
    margin: 5% auto; 		/* of vrha i centra na 5% razdaljine */
    padding: 20px;
    border: 1px solid #545871;
    width: 500px;
    color: #545871;
    border-radius: 5px;
  }
  
  /* dugme za izlaz */
  .close, .close_sort {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* ---------------------------------------------------------------------------------- */
  
 body {
 	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: fantasy, sans-serif;
	font-size: 100%;
	background: #84889c;
 }
 
 .dugmici, .svetli_dugmici {
 	padding: 2px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	margin-right: 47px;
    margin-left: 47px;
    font-size: 15px;
 }
 
 .otkazi_dugmici {
	border-radius: 3px;
	border: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
    font-size: 15px;
    color: #ffd5d2;
	background: #84889c;
 }
 
 .svetli_dugmici {
 	color: #545871;
	width: 20%;
	background: white;
 }

.svetli_dugmici:hover {
    background: #ffd5d2;
}
 
 .dugmici {
    color: #ffd5d2;
	width: 40%;
	background: #84889c;
}

.dugmici:hover,  .otkazi_dugmic:hover {
    background: #545871;
}
 
 .labela_tip_karte, .labela_status_karte, 
 	.labela_vrsta_sorta, .labela_po_cemu_sort,
 	.labela_izvrisi, .labela_tip_kupca {
	position: relative;
	margin-bottom: 0;
}

input.status_karte, input.tip_karte, 
	input.vrsta_sorta, input.sta_sortiramo,
	input.izbrisi, input.tip_kupca {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.labela_status_karte span, .labela_tip_karte span, 
	.labela_vrsta_sorta span, .labela_po_cemu_sort span,
	.labela_izvrisi span, .labela_tip_kupca span {
	display: inline-block;
	font-size: 17px;
	padding: 3px;
	border-radius: 3px;
	color: #545871;
}

.status_karte:checked ~ span, .tip_karte:checked ~ span, 
	.vrsta_sorta:checked ~ span, .sta_sortiramo:checked ~ span,
	.izbrisi:checked ~ span, .tip_kupca:checked ~ span {
	background: white;
}

table#tabela_filter, table#tabela_karata, 
	table#tabela_prodavaca, table#tabela_brisanje,
	table#tabela_kupaca, table#tabela_filter_kupaca,
	table#tabela_prodavaca, table#tabela_filter_prodavaca {
  font-size: 20px;
}

table#tabela_karata, table#tabela_prodavaca,
	table#tabela_brisanje, table#tabela_kupaca,
	table#tabela_prodavaca {
	 border: 1;
	 border-radius: 3px;
	 background: #ffd5d2;
	 color: #545871;
	 width: 97%;
	 margin-left: 7px;
}